---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image } from "@astrojs/image/components";

import GithubLogo from "../../assets/github-logo.svg";
import LinkedIn from "../../assets/linkedin-logo.svg";
import Twitter from "../../assets/twitter-logo.svg";

const menuitems = [
  {
    // title: "Features",
    // path: "#",
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
  // {
  //   title: "Process (TODO: future)",
  //   path: "/pricing",
  // },
  {
    title: "About",
    path: "/about",
  },
  // {
  //   title: "Work (todo)",
  //   path: "/work",
  // },
  {
    title: "Contact",
    path: "/contact",
  },
];

// {item.children && (
//   <Dropdown
//     title={item.title}
//     children={item.children}
//     lastItem={index === menuitems.length - 1}
//   />
// )}
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <div></div>
        <div class="flex flex-col">
          <a href="/" class="text-lg"
            ><span class="font-bold text-slate-800 text-2xl"
              >diegolikescode</span
            >
            <div class="flex gap-4">
              <a
                class="lg:hidden"
                href="https://github.com/diegolikescode"
                target="_blank">
                <Image src={GithubLogo} alt="my GitHub profile" />
              </a>
              <a
                class="lg:hidden"
                href="https://twitter.com/diegolikescode"
                target="_blank">
                <Image src={Twitter} alt="my Twitter profile" />
              </a>
              <a
                class="lg:hidden"
                href="https://www.linkedin.com/in/diegolikescode/"
                target="_blank">
                <Image src={LinkedIn} alt="my LinkedIn profile" />
              </a>
            </div>
          </a>
          <!-- <span class="text-slate-500">code</span> -->
        </div>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="https://github.com/diegolikescode" target="_blank">
          <Image src={GithubLogo} alt="my GitHub profile" />
        </a>
        <a href="https://twitter.com/diegolikescode" target="_blank">
          <Image src={Twitter} alt="my Twitter profile" />
        </a>
        <a href="https://www.linkedin.com/in/diegolikescode/" target="_blank">
          <Image src={LinkedIn} alt="my LinkedIn profile" />
        </a>
        <!-- <Link href="#" size="md">
          <Image src={Twitter} alt='my Twitter profile' />
        </Link>
        <Link href="#" size="md">
          <Image src={LinkedIn} alt='my LinkedIn profile'/>
        </Link> -->
      </div>
    </div>
  </header>
</Container>
